@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
  background: linear-gradient(180deg, #141333 0%, #202261 70.63%, #3a237a 100%);

  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  hyphens: auto;
}

h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: 600 !important;
}
